@charset "UTF-8";
/* Lista de estilos universales*/
/* header*/
/* titulo*/
.modal-tittle {
  font-size: 3rem;
  font-family: "Barlow Semi Condensed";
  color: #efefef;
  font-weight: 900;
}

/* Estilos seccion nav*/
.topnav, .dropbtn, .topnav a {
  font-size: 0.938rem;
  font-family: "Barlow Semi Condensed";
  color: #efefef;
}

.dropdown .dropbtn {
  color: #efefef;
}

.dropdown-content a {
  font-size: 0.938rem;
  font-family: "Barlow Semi Condensed";
  color: #555;
  background-color: #efefef;
  font-weight: 700;
}

/* Estilos seccion productos carousel*/
.container-carousel {
  background-color: whitesmoke;
}

.carousel-inner img {
  border: solid black 10px;
}

/* Estilos seccion productos destacados*/
.tittle-productos {
  font-family: "Barlow Semi Condensed";
  font-size: 0.938rem;
}

.tittle-destacados {
  font-family: "Barlow Semi Condensed";
  font-size: 1.563rem;
  font-weight: 900;
  border-bottom: solid #fdcae1;
}

.button-productos {
  font-family: "Barlow Semi Condensed";
  font-size: 0.75rem;
}

.productos {
  background-color: whitesmoke;
}

.link-productos button {
  background-color: #fdcae1;
  color: #ffffff;
}

.altar, .cuadro-deluz, .kit-sahumador {
  background-color: white;
}

/* Estilos seccion video*/
h3 {
  font-family: "Barlow Semi Condensed";
  font-size: 0.938rem;
  border-bottom: solid #fdcae1;
}

/* Estilos footer*/
footer {
  background-color: black;
}

strong {
  color: whitesmoke;
}

.tel-contacto, .email-contacto {
  color: white;
  font-family: Sans-serif;
  font-size: 0.938rem;
  font-weight: 700;
}

/* Estilos paginas conocenos y tips*/
.title-hayequipo, .title-tips {
  font-size: 1.563rem;
  border-bottom: solid #fdcae1;
}

.tittle-instagram {
  font-family: "Barlow Semi Condensed";
  font-size: 1.563rem;
  font-weight: 900;
}

.row-tips {
  font-family: "Barlow Semi Condensed";
  font-size: 1.2rem;
  font-weight: 900;
}

.descripcion-equipo {
  font-family: "Barlow Semi Condensed";
  font-size: 1.2rem;
  font-weight: 900;
}

/* Estilos pagina cuadro de luz*/
.tittle-mira {
  font-family: "Barlow Semi Condensed";
  font-size: 0.938rem;
}

.tittle-cuadrosdeluz, .tittle-kit, .tittle-altar {
  font-family: "Barlow Semi Condensed";
  font-size: 1.563rem;
  font-weight: 900;
  border-bottom: solid #fdcae1;
}

.item, .item-precio {
  font-family: "Barlow Semi Condensed";
  font-size: 0.938rem;
  font-weight: 800;
}

/*configuraciones variables: sección productos destacados*/
h2 {
  font-weight: 700;
  margin-left: 5%;
  margin-top: 10%;
}

.descripcion-producto {
  padding: 5%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom: solid #fdcae1;
  background-color: #f5f5f5;
  text-align: center;
}

/*diseño de header prederterminado*/
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url(../src/multimedia/img/generales/fondomaderanegra.jpeg);
  background-size: cover;
  height: 40vh;
}

.modal-tittle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* Nav */
.nav {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
}

.topnav {
  background-color: transparent;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.topnav a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-left: 5%;
  z-index: 1;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
  margin-left: 5%;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  background-color: transparent;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
  float: none;
  margin-top: 5%;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 1%;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
  border-bottom: solid #fdcae1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (min-width: 300px) and (max-width: 508px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    margin: 0;
    padding: 0;
  }
  .topnav.responsive .dropdown {
    float: none;
  }
  .topnav.responsive .dropdown-content {
    position: relative;
  }
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
  .dropdown-content a {
    background-color: white;
    margin-top: 3%;
  }
  .dropdown {
    margin: 0;
    padding: 0;
  }
  .dropdown .dropbtn {
    margin-top: 1%;
    padding: 0;
  }
}

.carousel {
  margin-top: 1%;
  margin-bottom: 1%;
  width: 85%;
}

.carousel-inner img {
  width: 100%;
  border-radius: 10px;
}

.tittle-instagram {
  padding-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
}

.img-seccionsocial {
  margin-bottom: 5%;
}

.mgusta, .amigas {
  padding: 0;
}

@media screen and (min-width: 300px) and (max-width: 508px) {
  .seccion-video {
    display: block;
    background-color: white;
  }
  .instagram-link {
    background-color: #fdcae1;
    padding-top: 25%;
    padding-bottom: 25%;
    text-align: center;
    margin-right: 0;
    margin-left: 0;
  }
}

/*diseño del footer prederterminado*/
footer {
  text-align: center;
  padding-bottom: 5%;
}

#container-footer {
  margin-left: 0;
}

.redessociales {
  margin-top: 3%;
  margin-bottom: 3%;
}

.secciones {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.img-mp {
  width: 70%;
  margin-left: 10%;
  margin-top: 5%;
}

.tel-contacto {
  margin-top: 5%;
}

@media screen and (min-width: 300px) and (max-width: 508px) {
  footer {
    background-color: black;
    text-align: center;
    padding-bottom: 5%;
    margin-top: 5%;
  }
  .secciones {
    margin-right: 0;
    margin-left: 0;
  }
  .pagos {
    padding-top: 5%;
    padding-bottom: 15%;
  }
  .contacto {
    padding-top: 5%;
    padding-bottom: 15%;
  }
  .js-newsletter {
    padding-left: 0;
  }
}

.destacados {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10%;
  padding-bottom: 3%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tittle-productos, .tittle-destacados {
  text-align: center;
}

.container-productos {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 17%;
}

.img-productos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  margin-top: 5%;
  margin-bottom: 20%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.img-kit {
  border-radius: 20px 20px 0px 0px;
}

.img-kit:hover {
  -webkit-transform: scale 1.4;
  transform: scale(1.4);
  -webkit-transition: all 3s;
  transition: all 3s;
}

.kit-sahumador {
  height: 70%;
  margin-right: 2%;
  padding-bottom: 3%;
  border-radius: 0px 0px 20px 20px;
  border: 2px;
}

.cuadro-deluz {
  height: 70%;
  margin-right: 2%;
  padding-bottom: 3%;
  border-radius: 0px 0px 20px 20px;
  border: 2px;
}

.img-cuadrodeluz {
  border-radius: 20px 20px 0px 0px;
}

.img-cuadrodeluz:hover {
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
  -webkit-transition: all 3s;
  transition: all 3s;
}

.altar {
  height: 70%;
  padding-bottom: 3%;
  border-radius: 0px 0px 20px 20px;
  border: 2px;
}

.img-altar:hover {
  -webkit-transform: scale(1.4);
  transform: 1.4;
  -webkit-transition: all 3s;
  transition: all 3s;
}

.link-productos {
  padding-bottom: 5%;
  margin-top: 5%;
  text-align: center;
}

.link-productos button {
  border: none;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-right: 1%;
  padding-left: 1%;
  font-weight: 700;
}

.link-productos a button:hover {
  background-color: #fdcae1;
  background-image: linear-gradient(114deg, #ff64f4 10%, rgba(255, 37, 122, 0.588971) 100%);
}

@media screen and (min-width: 300px) and (max-width: 508px) {
  .row > * {
    padding-right: 0;
  }
  .container-productos {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 0;
  }
  .link-productos {
    padding-bottom: 5%;
    margin-top: 5%;
    text-align: center;
  }
  .link-productos button {
    background-color: black;
    border: none;
    margin-top: 0;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 1%;
    padding-left: 1%;
    color: #ffffff;
    font-weight: 700;
  }
  .link-productos a button:hover {
    background-color: #fdcae1;
    background-image: linear-gradient(114deg, #ff64f4 10%, rgba(255, 37, 122, 0.588971) 100%);
  }
}

/*configuración: pagina quienes somos*/
.title-hayequipo {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 5%;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
}

.container-quienessomos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin-left: -10%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.container {
  padding-top: 5%;
}

.row-parrafo {
  margin-left: 15%;
}

.row-parrafo p {
  text-align: center;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.img-logo {
  max-width: 100%;
  width: 10%;
}

@media screen and (min-width: 300px) and (max-width: 508px) {
  .modal-tittle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 2rem;
    padding-top: 10%;
  }
  .container-parrafo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 2%;
    padding-bottom: 2%;
  }
  .row-tips {
    justify-items: center;
    margin-left: 0;
  }
}

/*configuración: tips*/
a {
  text-decoration: none;
}

.title-tips {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 5%;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
}

.container-tips {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin-left: -10%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.container {
  padding-top: 5%;
}

.row-tips {
  margin-left: 15%;
}

.row-tips p {
  text-align: center;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.img-logo {
  max-width: 100%;
  width: 5%;
  margin-bottom: 3%;
}

.mujer-sahumando {
  display: block;
  margin: auto;
  width: 100%;
}

@media screen and (min-width: 300px) and (max-width: 508px) {
  .modal-tittle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 2rem;
    padding-top: 10%;
  }
  .container-tips {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 2%;
    padding-bottom: 2%;
  }
  .row-tips {
    margin-left: 0;
  }
}

.container-principal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin-left: -10%;
  padding-top: 1%;
}

#galeria {
  position: relative;
  padding-bottom: 8%;
}

.img-bolsacompra {
  width: auto;
  height: 23px;
}

.tittle-mira, .tittle-cuadrosdeluz {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.img-deseo:hover, .img-mandala:hover {
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
  -webkit-transition: all 3s;
  transition: all 3s;
}

/* Inicio configuración pagina cuadro de luz*/
#galeria {
  position: relative;
  padding-bottom: 8%;
}

.img-bolsacompra {
  width: auto;
  height: 23px;
}

.tittle-mira, .tittle-cuadrosdeluz {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.img-cartanatal:hover {
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
  -webkit-transition: all 3s;
  transition: all 3s;
}

.img-love {
  width: auto;
}

.img-love:hover {
  -webkit-transform: scale(1.4);
  transform: 1.4;
  -webkit-transition: all 3s;
  transition: all 3s;
}

.img-magico {
  width: auto;
}

.img-magico:hover {
  -webkit-transform: scale(1.4);
  transform: 1.4;
  -webkit-transition: all 3s;
  transition: all 3s;
}

#galeria {
  position: relative;
  padding-bottom: 8%;
}

.img-bolsacompra {
  width: auto;
  height: 23px;
}

.tittle-mira, .tittle-cuadrosdeluz {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.img-kit:hover, .img-refilsahumo:hover {
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
  -webkit-transition: all 3s;
  transition: all 3s;
}
/*# sourceMappingURL=style.css.map */