/* Lista de estilos universales*/

$colores:
#f1c40f,
#FACC2E,
#fa2edf,
rgba(255, 255, 255, 0.75),
whitesmoke,
white,
black,
#fdcae1,
#efefef;

$bordes:
solid #FACC2E,
solid #fa2edf,
solid black,
solid #fdcae1;

$fuentes:
Sans-serif,
'Barlow Semi Condensed', sans-serif;

$font-weight:
700,
800,
900;


$fuentestamaños:
0.75rem,
0.938rem,
1.2rem,
1.563rem,
2rem,
3rem,
0.3rem;


/* header*/

/* titulo*/

.modal-tittle {
    font-size: nth($fuentestamaños,6);
    font-family: nth($fuentes,2);
    color: nth($colores,9);
    font-weight: nth($font-weight,3);
}

/* Estilos seccion nav*/



/* Estilos seccion productos destacadosr*/

.tittle-productos{
    font-family: nth($fuentes,2);
    font-size: nth($fuentestamaños,2);
}

.tittle-destacados{
    font-family: nth($fuentes,2);
    font-size: nth($fuentestamaños,4);
    font-weight: nth($font-weight,3);
}

.button-productos {
    font-family: nth($fuentes,2);
    font-size: nth($fuentestamaños,1);
}

/* Estilos seccion video*/

h3{
    font-family: nth($fuentes,2);
    font-size: nth($fuentestamaños,2);
    border-bottom: nth($bordes,4);
}

.instagram-link, .video{
  background-color: nth($colores,7);
}


/* Estilos footer*/

.tel-contacto,.email-contacto{
    color: nth($colores,6);
    font-family: nth($fuentes,1);
    font-size: nth($fuentestamaños,2);
    font-weight: nth($font-weight,1)
}

/* Estilos paginas conocenos y tips*/

.title-hayequipo, .title-tips{
    border-bottom:nth( $bordes,2);
    font-size: nth($fuentestamaños,4);
    border-bottom: nth($bordes,4);
   
}

.tittle-instagram{
    font-family: nth($fuentes,2);
    font-size: nth($fuentestamaños,4);
    font-weight: nth($font-weight,3);
}

.row-tips{
    font-family: nth($fuentes,2);
    font-size: nth($fuentestamaños,3);
    font-weight: nth($font-weight,3);
   
}

/* Estilos pagina cuadro de luz*/

.item, .item-precio {
    font-family: nth($fuentes,2);
    font-size: nth($fuentestamaños,2);
    font-weight: nth($font-weight,2 );
}

