
.container-principal{
    display: flex;
    text-align: center;
    margin-left: -10%;
    padding-top: 1%;
    
}

#galeria{
    position: relative;
    padding-bottom: 8%;
}


.img-bolsacompra{
    width: auto;
    height: 23px;    
}


.tittle-mira, .tittle-cuadrosdeluz {
    align-items: center;
    text-align: center; 
}

.img-deseo, .img-mandala {
    &:hover{
    -webkit-transform:scale(1.4);
    transform:scale(1.4);
    transition: all 3s;
    }
}


@media screen and (min-width: 509px) and (max-width: 1024px) {


    .altar-deseo, .altarmandala {
        justify-items: center;
        height: 20%;
        width: 80%;
        margin-left: 10%;
        padding-bottom: 3%;
        border-radius: 0px 0px 20px 20px;
        border: 2px;
        
    }

    
}
