.container-carousel{

background-color: whitesmoke;
}

.carousel{
    margin-top: 1%;
    margin-bottom: 1%;
    justify-items: center;
    width: 85%;
    
}

.carousel-inner img {
    width: 100%;
    border-radius: 10px;
    border: solid black 10px;
    
}
