/*configuraciones variables: sección productos destacados*/

@mixin productos ($padding,$borderadiusleft,$borderadiusright,$borderbottom,$backgroundcolor,$textalign) {
    
    padding: $padding;
    border-bottom-left-radius: $borderadiusleft;
    border-bottom-right-radius: $borderadiusright;
    border-bottom: $borderbottom;
    background-color: $backgroundcolor;
    text-align: $textalign;
}

@mixin subtitulos ($font-weight,$margin-left,$margin-top) {
    font-weight: $font-weight;
    margin-left: $margin-left;
    margin-top: $margin-top;
}

h2 {
    @include subtitulos(700, 5%, 10%)
}

.descripcion-producto{
    @include productos (5%,10px,10px,solid #fdcae1, #f5f5f5,center)
}