.tittle-instagram{
    padding-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    
}

.img-seccionsocial{
    margin-bottom: 5%;
}

.mgusta, .amigas{
    padding: 0;
}


@media screen and (min-width: 300px) and (max-width: 508px) {

    .seccion-video {
        display: block;
        background-color: white;
    }

    .instagram-link{
        background-color: #fdcae1,;
        padding-top: 25%;
        padding-bottom: 25%;
        text-align: center;
        margin-right: 0;
        margin-left: 0;
    }


}